/*
	Author: KidLet;
	Date: 2013-1-28;
	description: used by default.html;
*/

#main
{
	display: block;
	width: 900px;
	min-width: 900px;
	margin: 0 auto;
	position: relative;
}

#content
{
	position: relative;
	width: 650px;
	display: block;
	margin-right: 7px;
	margin-bottom: 20px;
	float: left;
	border-right: 1px solid #ccc;
}

#Left
{
	position: relative;
	display: block;
	width: 220px;
	margin-left: 5px;
	float: left;
}

code
{
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size:14px;
	padding:2px 4px;
	color:#d14;
	background-color:#f7f7f9;
	border:1px solid #e1e1e8;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}


/* ------------Main end --------------*/

.post_summary
{
	position: relative;
	border-left: 1px solid #ccc;
	padding-left: 30px;
	margin-bottom: 50px;
}

.post_title
{
	position: relative;
	border-bottom: 1px solid #ccc;
	width: 580px;
	left: -30px;
	padding-left: 30px;
	padding-bottom: 4px;
}

.post_category
{
	position: absolute;
	right: 60px;
	top: 10px;
	font-size: 0.8em;
	color: rgb(120,120,120);
	/*font-weight:bold;*/
}

.post_category img
{
	margin-right: 5px;
}

.post_summary p  		/* summary content */
{
	position: relative;
	word-break: break-all;	/* new line */
	word-wrap:break-word;
	white-space: pre;
	white-space: pre-wrap;
	line-height: 1.5em;
	padding-right: 50px;
}

.post_time
{
	margin-left: 345px;
	color: rgb(120,120,120);
}

.post_time img
{
	position: relative;
	top: 2px;
	margin-right: 3px;
}

/* ------------post end --------------*/





