/*
	Author: KidLet;
	Date: 2013-2-07;
*/
body
{
	position:relative;
	background-color: rgb(255,255,255);
	font-family: monaco, consolas, monospace, "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	margin: 0 auto;
	width: 900px;
	min-width: 900px;
	background: url('/assets/themes/kidlet/img/bg.jpg') repeat;
}

h1,h2,h3,h4 {color: black}
a 
{ 
	color: rgb(167,61,41);
	text-decoration: none; 
}
a:hover {color: rgb(165,26,0)}	/* 鼠标移动到链接上 */

::selection {color:#fff; background:#444; text-shadow:none;}

@font-face {
    font-family: 'monaco';
    src: url('/assets/themes/kidlet/font/monaco-webfont.eot');
    src: url('/assets/themes/kidlet/font/monaco-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/themes/kidlet/font/monaco-webfont.woff') format('woff'),
         url('/assets/themes/kidlet/font/monaco-webfont.ttf') format('truetype'),
         url('/assets/themes/kidlet/font/monaco-webfont.svg#monacoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#head
{
	display: block;
	position: relative;
	height: 115px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	
	border-bottom: 1px solid #ccc;
}

#nav
{
	position: absolute;
	top: 80px;
	right: 35px;
}


#logo
{
	position: relative;
	top: 10px;
}

#logo a img   /* ie 6 7 8 9 */
{
	border: none;
}


#menu
{
	list-style:none; /* 将默认的列表符号去掉 */
	margin:0; /* 将默认的外边距去掉 */
}

#menu li
{
	
	float:left;
}

#menu li a 
{
	padding-right:15px; 
	padding-left: 15px;
	font-size: 21px;
	font-weight: bold;
	/*border-bottom: 1px dashed rgb(167,61,41);*/
}

#menu li a:hover
{
	padding-bottom: 3px;
	border-bottom: 3px solid #FF9900;
}

/* ------------head end --------------*/


#foot
{
	clear: both;
	display: block;
	padding-top: 5px;
	border-top: 1px solid #ccc;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#foot p
{
	text-align: center;
	color: rgb(120,120,120);
}

#foot a {display: none}
/* ------------foot end --------------*/


#return_top
{
	display: block;
	background: url("/assets/themes/kidlet/img/return_top.png") no-repeat left top;
	text-indent: -9999px;
	z-index: 999;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 40px;
	margin-left: 860px;
	padding: 0;
	_position: absolute;
	cursor: pointer;
}