@charset "utf-8";
/*
Author: KidLet;
  Date: 2013-5-09;

provide base css style  
*/

.entry-content img
{
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	height: auto;
}

.entry-content
{
	line-height: 1.714285714;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6
{
	margin: 24px 0;
	margin: 1.714285714rem 0;
	line-height: 1.714285714;
}

/*.entry-content h1 
{
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}*/
.entry-content h1
{
	font-size: 18px;
	line-height: 1.6;
}
.entry-content h2
{
	font-size: 16px;
	line-height: 1.846153846;
}

.entry-content h3
{
	font-size: 14px;
	line-height: 1.846153846;
}
.entry-content h4
{
	font-size: 13px;
	line-height: 1.846153846;
}


.entry-content p,
{
	margin: 0 0 24px;
	line-height: 1.714285714;
}

.entry-content ol,
.entry-content ul
{
	margin: 0 0 24px;
	line-height: 1.714285714;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul
{
	margin-bottom: 0;
}
.entry-content ul
{
	list-style: disc outside;
}

.entry-content ol
{
	list-style: decimal outside;
}

.entry-content li
{
	margin: 0 0 0 36px;
}

.entry-content blockquote
{
	margin-bottom: 24px;
	padding: 24px;
	font-style: italic;
}

.entry-content blockquote p:last-child
{
	margin-bottom: 0;
}

.entry-content>p code
{
	font-family: "Monaco", Consolas, monospace !important;
	font-size: 12px;
	line-height: 2;

	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

.entry-content pre
{
	border: 1px solid #ededed;
	color: #666;
	font-family: "Monaco", Consolas, monospace !important;
	font-size: 12px;
	line-height: 1.714285714;
	margin: 24px 0;
	overflow: auto;
	padding: 16px;

}

.entry-content pre code
{
	display: block;
	font-family: "Monaco", Consolas, monospace !important;
}


.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

.entry-content dl
{
	margin: 0 24px;
	margin: 0 1.714285714rem;
}
.entry-content dt{
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd{
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

.entry-content table
{
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}

.entry-content table caption
{
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.entry-content td
{
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

.highlight>pre>code
{
	max-height: 500px;
}