/*
	Author: KidLet;
	Date: 2013-1-28;
*/
body
{
	background-color: rgb(255,255,255);
	font-family: consolas, monaco,"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	margin: 0 auto;
	width: 900px;
	min-width: 900px;
}

#head
{
	display: block;
	width: 900px;
	height: 125px;
	min-width: 900px;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #ccc;

}

#nav
{
	position: absolute;
	top: 80px;
	right: 60px;
}

#logo
{
	position: relative;
	top: 10px;
}


#menu
{
	list-style:none; /* 将默认的列表符号去掉 */
	margin:0; /* 将默认的外边距去掉 */
}

#menu li
{
	padding-right:20px; /* 将默认的内边距去掉 */
	float:left;
}

#menu li a 
{
/*display:block; /* 将链接设为块级元素 */
	font-size: 21px;
	text-decoration: none;
	:hover;
}

#menu li a:hover { text-decoration: underline;}

/* ------------head end --------------*/

#main
{
	display: block;
	width: 900px;
	min-width: 900px;
	margin: 0 auto;
	position: relative;
}

#content
{
	position: relative;
	width: 650px;
	display: block;
	margin-right: 7px;
	float: left;
	border-right: 1px solid #ccc;
}

#Left
{
	position: relative;
	display: block;
	width: 220px;
	margin-left: 5px;
	float: left;
}

#foot
{
	clear: both;
	display: block;
	padding-top: 5px;
	border-top: 1px solid #ccc;
}

#foot p
{
	text-align: center;
	color: rgb(120, 120, 120);
}


.time
{
/*	position: absolute;
	left: -90px;
	top: 0px;*/
}

.post_summary
{
	position: relative;
	border-left: 1px solid #ccc;
	padding-left: 30px;
	margin-bottom: 50px;
}

.post_title
{
	position: relative;
	border-bottom: 1px solid #ccc;
	width: 550px;
	left: -30px;
	padding-left: 30px;
}

.post_title a
{
	text-decoration: none;

}
